body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif; 
    box-sizing: border-box;
    overflow-x: hidden;
}


.dashboard_part1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.image-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 7%, 0.35); /* Adding the background shadow */
    z-index: 1;
}

.image-background img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

.header {
    display: flex;
    justify-content: start;
    width: 100%;
}

#logo {
    margin: 2% 20% 3% 6%;
}

.head {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* transform: translate(0%, -100%); */
}

.lis {
    list-style: none;
    display: flex;
    width: 100%;
}

li {
    margin: 5% 8% 0% 0%;
}

a{
    text-decoration: none;
    color: white;
}

.middle-text {
    color: #fff;
    position: relative;
    margin: 7% 0% 5% 25%;
    font-size: 450%;
    font-family: gt-sectra;
}

.foot {
    align-items: flex-end;
    display: flex;
    padding: 0 13%;
    justify-content: space-between;
    bottom: 4.5rem;
    z-index: 4;
}

.insidefoot {
    position: relative;
}

.foot-head {
    display: none; /* Initially hide all divs */
    padding: 1rem;
    background: #f0f0f0;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
}


.below-text {   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsla(0,0%,100%,.65);
    font-size: 1.2rem;
    display: block;
}

.aboutpart2{
    position: relative;
    margin-bottom: 10%;
    margin-top: 10%;
}
.aboutpart2 div{ 
    display: block;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
    opacity: 1;
    font-size: 28px;
    font-family: "Overpass Mono", monospace;

}

.overpass-mono-aboutpart2 {
    font-family: "Overpass Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  

.aboutpart3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
    margin-bottom: 5%;
}

.aboutpart3 img {
    flex: 1;
    height: auto;
    width: 40%; 
    object-fit: cover;
}

.intentionbox {
    flex: 1;
    box-sizing: border-box;
}

.intentionbox h2 {
    text-align: left;
    font-size: larger;
    margin-bottom: 5% ;
    font-family: Arial;
   color: #413839;

}
.part3text  div {
    text-align: left;
    font-family: calibri;
    font-weight: none;
    margin-bottom: 2%;
    font-size: medium;
    color: grey;
}

.aboutpart4 {
    width: 100vw;
    overflow: hidden;
    padding: 5%;
    }

.aboutpart4 h3{
    font-size: xx-large;
    font-family: math;
    color: #4C4646;
}
.Imgslide {
    display: flex;
    overflow: hidden;
    width: 100vw; /* Ensure it takes up full width of the viewport */
    
}

.Imgslide-track {
    display: flex;
    width: calc(18vw * 10); /* Adjust to the total width of all images (original + duplicated) */
    animation: slide 20s linear infinite;
    
}

.img {
    width: 30vw;
    height: 70vh;
    padding: 0.3%;
    flex-shrink: 0;

    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-18vw * 5)); /* Slide the width of the original images */
    }
}
.backgroundImg1{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow:hidden; 
 

}   
.backgroundImg1 img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; 
    
}
.aboutpart5{
    padding-bottom: 5%;
}

.aboutpart6 {
    overflow-x: hidden;
    padding-bottom: 5%;
    background-color: #161f1e;
    color: #fff;
    font-family: Arial, sans-serif;
}

.upper-content {
    display: flex;
    padding: 6% 12%;
    align-items: center;
}

.left-side {
    width: 60%;
    font-size: 2rem;
    font-weight: 100;
}

.right-side {
    width: 40%;
}

.right-side p {
    margin-bottom: 8%;
    line-height: 2;
    font-size: 1rem;
}

.dlc-vid__vid-wrap {
    position: relative;
    width: 80%;
    margin: auto;
}

.videoAbout {
    width: 100%;
    height: auto;
    display: block;
}

.overlay-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    visibility: hidden;
}

.dlc-vid-play__text {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}

svg {
    cursor: pointer;
}

.aboutpart8 {
    position: relative;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    z-index: 1;
}

.text-content {
    flex: 1;
    color: black;
    padding: 20px;
    margin-top: 12%;
}

.text-content h3 {
    color: black;
    font-size: 36px;
    margin-bottom: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}

.insidecontent{
    color: rgb(113, 109, 109);
    font-weight: 100;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
}

.image-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content img {
    height: 98%;
    width: 89%;
    object-fit: cover;
    transform: translateY(14%);
}

.scenery-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scenery-image img {
    margin-right: 49%;
    width: 35%;
    max-width: 1200px;
    height: auto;
    object-fit: cover;
}

.aboutpart9 {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.part9image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.overtext {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}

.overtext-head {
    text-align: center;
    color: #fff;
    line-height: 1.3;
    margin-bottom: 2.5rem;
    font-family: gotham;
    font-weight: 100;
    font-size: 36px;
}

.part9-button {
    position: relative;
}

.part9-button svg {
    cursor: pointer;
}

.part9-button::before {
    border-color: hsla(0, 0%, 100%, .35);
    position: absolute;
}

.dashboard_part6{
    position: relative;
    width: 100vw;
}

footer {
    background-color: #161f1e;
    position: relative;
    display: block;
    z-index: -1;
}

.footer-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    width: 100%;
}

.first-row {
    display: flex;
    padding: 6rem 0;
    justify-content: space-between;
}

.foot-logo {
    display: block;
    margin-top: 2%;
}

.row-part2{
    display: flex;
    width: 51%;
}

.foot-header {
    color: hsla(0,0%,100%,.75);
    font-family: messina-sans;
    font-size: .9rem;
    letter-spacing: -.01em;
    margin-bottom: .75rem;
    text-transform: uppercase;
    width: 100%;
    margin-top: 14%;
    font-weight: 200;
}

.foot-list {
    margin-bottom: 1.2rem;
    list-style: none;
}

.lister {
    margin-bottom: .25rem;
    font-size: .9rem;
    line-height: 2;
    text-align: -webkit-match-parent;
}

.linker {
    position: relative;
    text-decoration: underline;
}

.linker::after {
    background-color: currentColor;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .9s cubic-bezier(.19,1,.22,1);
    width: 100%;
}

.part2-2 {
    margin-left: 10vw;
    display: flex;
    flex-wrap: wrap;
    width: 53%;
}

.list2 {
    width: 30%;
}

.a {
    text-decoration: none;
}

.list3 {
    margin-left: 3vw;
}

.menu {
    margin-bottom: .25rem;
}

a{
    line-height: 2;
    font-size: .9rem;
}

.foot-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.5rem;
}

.foot-bottom p{
    color: hsla(0,0%,100%,.75);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .9rem;
    line-height: 2;
}

ul {
    padding: 0;
}